.app__about {
    flex: 1;
    width: 100%;
    flex-direction: column;
    padding: 2rem;

    @media screen and (max-width: 450px) {
        padding: 2rem 1rem;
    }
}

.app__profiles {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 2rem;

   .app__profile-item {
        width: 190px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin: 1.5rem 1rem;

        transition: all 0.3s ease-in-out;

       img {
           width: 100%;
           height: 170px;
           border-radius: 15px;
       }

       h2 {
           font-size: 1rem;
           margin-top: 1.5rem;
           font-weight: 800;
           color: var(--black-color);
           text-align: left;
       }
       
       p {
            font-size: 0.75rem;
            margin-top: 1rem;
            font-weight: 400;
           color: var(--gray-color);
       }

       &:hover {
           transform: scale(1.05);
       }
           
   }
}