.app__overlay {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.app__overlay-bg01 {
    flex: 2;
    background-color: var(--primary-color);
}

.app__overlay-bg02 {
    flex: 1;
    background-color: var(--white-color);
}
