.app__testimonial {
    flex: 1;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 50vh;
    padding: 2rem;

    @media screen and (max-width: 450px) {
        padding: 2rem 1rem;
    }
}
    
.app__testimonial-item {
    width: 60%;
    background-color: var(--white-color);
    display: flex;
    flex-direction: row;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);

    transition: all 0.3s ease-in-out;
    
    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
    }


    .app__testimonial-content {
        flex: 1;
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;

        p {
            font-size: 1.25rem;
            line-height: 2rem;
            color: var(--black-color);
            font-family: var(--font-base);
        }

        h4 {
            font-size: 1rem;
            font-weight: 600;
            color: var(--secondary-color);
            margin-top: 3rem;
        }

        h5 {
            font-size: 0.9rem;
            font-weight: 400;
            color: var(--gray-color);
            margin-top: 5px;
        }
    }

    @media screen and (max-width: 850px) {
        width: 100%;
    }

    @media screen and (max-width: 600px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .app__testimonial-content {
            margin-top: 2rem;
            padding: 0;

            p {
                font-size: 1rem;
                line-height: 1.5rem;
            }
        }
    }
}

.app__testimonial-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

    div {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: var(--white-color);
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 1rem;
        transition: all 0.3s ease-in-out;

        svg {
            width: 20px;
            height: 20px;
            color: var(--secondary-color);
        }

        &:hover {
            background-color: var(--secondary-color);

            svg {
                color: var(--white-color);
            }
        }
    }
}
