#home {
    position: relative;
    padding-top: 5rem;
}

.app__header {
    flex: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
    padding: 2rem 2rem 0rem;

    @media screen and (max-width: 990px) {
        flex-direction: column;
    }
            
    @media screen and (max-width: 450px) {
        padding: 2rem 1rem 0;
    }
}

.app__header-info {
    flex: 0.65;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;

    margin: 0 2rem;

    @media screen and (max-width: 990px) {
       width: 100%;
       margin-right: 0rem;
       margin-bottom: 2rem;
    }
}

.app__header-badge {

    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    .badge-cmp, 
    .tag-cmp {
        padding: 1rem 2rem;
        background: var(--white-color);
        border-radius: 15px;
        flex-direction: row;
        width: auto;
    
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    }

    .tag-cmp {
        flex-direction: column;
        margin-top: 3rem;
        
        p {
            width: 100%;
            text-transform: uppercase;
            text-align: right;
        }
    }

    span {
        font-size: 2.5rem;
        
        @media screen and (min-width: 2000px) {
            font-size: 5rem;        
        }
    }

    @media screen and (max-width: 990px) {
        justify-content: flex-start;
        align-items: flex-start;
    }
        
}

.app__header-circles {
    flex: 0.75;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;

    div:nth-child(2) {
        margin-left: 2rem;
    }

    @media screen and (max-width: 990px) {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 2rem;

        div {
            margin: 1rem;
        }
    }        
}

.app__header-img {
    flex: 1;
    height: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;

    img {
        width: 100%;
        max-height: 990px;
        object-fit: contain;
        z-index: 1;
    }

    .overlay_circle {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        width: 100%;
        height: 90%;
    }
}
