.app {
  background-color: var(--primary-color);
  font-family: var(--font-base);
}

.app__whitebg {
  background-color: var(--white-color);
}

.app__primarybg {
  background-color: var(--primary-color);
}

.app__container {
  width: 100%;
  display: flex;
  flex-direction: row;

  min-height: 100vh;
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__head-text {
  margin: 2rem;

  h2 {
      font-size: 2rem;
      font-weight: 800;
      text-align: center;
      color: var(--black-color);
      text-transform: capitalize;

      span {
          color: var(--secondary-color);
      }

      @media screen and (max-width: 450px) {
          font-size: 1.5rem;
      }        
  }
}

.app__social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;

  z-index: 1;
  padding: 1rem;

  div {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: var(--lightGray-color);
    margin: 0.25rem 0;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease-in-out;

    svg {
      width: 15px;
      height: 15px;
      color: var(--gray-color);
    }

    &:hover {
      background-color: var(--secondary-color);

      svg {
        color: var(--white-color);
      }
    }
  }
}

.app__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  z-index: 1;
  padding: 1rem;

  .app__navigation-dot {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--lightGray-color);
    margin: 0.5rem;

    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: var(--secondary-color);
    }
  }
}

@media screen and (max-width: 768px) {
  .app__head-text {
    margin: 2rem 0;
    width: 100%;
}
}

@media screen and (max-width: 450px) {
  .app__navigation, .app__social {
    display: none;
  }
}
